@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #2d2d2d;
  --secondary: #535353;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f1f1f1;
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-size: 1.2rem;
  color: var(--primary);
}

h3 {
  font-size: 1rem;
  color: var(--secondary);
}

p {
  line-height: 1.5;
}
